.divider-gradient {  
    background-image:  linear-gradient(90deg, #0088CE, #092354);
    @apply p-0
}

.main-navigation:after {
    content: ' ';
    display: block;
    @apply absolute bottom-0 left-0  w-full h-2 pt-2 divider-gradient
}

.nav-item {
	@apply block px-3 py-3 font-bold uppercase tracking-tight transition duration-300 ease-in-out;
}

.nav-item:hover {
	@apply bg-lochmara-500
}

@screen sm {
    .nav-items-container {
        @apply flex flex-wrap
    }

    .nav-items-container li {
        @apply w-1/2 
    }

    .nav-item {
        @apply py-1
    }
}

@screen md {
    .nav-items-container li {
        @apply w-full 
    }

    .nav-item {
        @apply py-3
    }
}

.btn-primary {
	@apply inline-block divider-gradient text-center px-2 py-2 rounded-lg uppercase font-bold text-lochmara-700 tracking-tighter	
}

.highlights {	
	background-color: rgba(0, 0, 0, 0.33);
  	background-blend-mode: soft-light;
}

.webp .hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../images/layout/hero-4-compressed.webp');
}

.no-webp .hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../images/layout/hero-4-compressed.jpg');
}

.webp .host {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/layout/home-alan-dedicote-compressed.webp');
}

.no-webp .host {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/layout/home-alan-dedicote-compressed.jpg');
}

.webp .host-bio {
	background-image: url('../images/layout/host-alan-dedicote-compressed.webp');
}

.no-webp .host-bio {
	background-image: url('../images/layout/host-alan-dedicote-compressed.jpg');
}

.stats h3::after {
	content: ' ';
	display: block;
	width: 30px;
	height: 5px;
	margin: 10px auto 15px auto;
	@apply bg-gray-800
}

div[class*="gallery-tile-"] {
	@apply bg-cover bg-center overflow-hidden
}

.webp .gallery-tile-a {
	background-image: url('../images/layout/home-gallery-tile-d-compressed.webp');
}

.no-webp .gallery-tile-a {
	background-image: url('../images/layout/home-gallery-tile-d-compressed.jpg');
}

.webp .gallery-tile-b {
	background-image: url('../images/layout/home-gallery-tile-e-compressed.webp');
}

.no-webp .gallery-tile-b {
	background-image: url('../images/layout/home-gallery-tile-e-compressed.jpg');
}

.webp .gallery-tile-c {
	background-image: url('../images/layout/home-gallery-tile-f-compressed.webp');
}

.no-webp .gallery-tile-c {
	background-image: url('../images/layout/home-gallery-tile-f-compressed.jpg');
}

.webp .faq-a {
	background-image: url('../images/layout/home-gallery-tile-d-compressed.webp');
}

.no-webp .faq-a {
	background-image: url('../images/layout/home-gallery-tile-d-compressed.jpg');
}

.webp .highlights {
	background-image: url('../images/layout/highlights-background-3-compressed.webp');
}

.no-webp .highlights {
	background-image: url('../images/layout/highlights-background-3-compressed.jpg');
}

footer .watermark {
    background-image: url('../images/layout/wbm-watermark.svg');
}

.footer-link {
	@apply transition duration-300 ease-in-out tracking-tight py-2
}

.footer-link:hover {
	@apply text-lochmara-500
}

.webp .header-a {
	background-image: url('../images/layout/title-header-a-compressed.webp');
}

.no-webp .header-a {
	background-image: url('../images/layout/title-header-a-compressed.jpg');
}

.webp .header-b {
	background-image: url('../images/layout/title-header-b-compressed.webp');
}

.no-webp .header-b {
	background-image: url('../images/layout/title-header-b-compressed.jpg');
}

.webp .header-c {
	background-image: url('../images/layout/hero-3-compressed.webp');
}

.no-webp .header-c {
	background-image: url('../images/layout/hero-3-compressed.jpg');
}

.webp .header-d {
	background-image: url('../images/layout/hero-4-compressed.webp');
}

.no-webp .header-d {
	background-image: url('../images/layout/hero-4-compressed.jpg');
}

.webp .header-e {
    background-image: url('../images/layout/hero-5-compressed.webp');
}

.no-webp .header-e {
    background-image: url('../images/layout/hero-5-compressed.jpg');
}

.webp .header-f {
    background-image: url('../images/layout/hero-6-compressed.webp');
}

.no-webp .header-f {
    background-image: url('../images/layout/hero-6-compressed.jpg');
}

.webp .sponsorship-a {
	background-image: url('../images/layout/sponsorship-a-compressed.webp');
}

.no-webp .sponsorship-a {
	background-image: url('../images/layout/sponsorship-a-compressed.jpg');
}

.webp .sponsorship-b {
	background-image: url('../images/layout/sponsorship-b-compressed.webp');
}

.no-webp .sponsorship-b {
	background-image: url('../images/layout/sponsorship-b-compressed.jpg');
}

.webp .sponsorship-intro {
    background-image: url('../images/layout/sponsorship-intro-compressed.webp');
}

.no-webp .sponsorship-intro {
    background-image: url('../images/layout/sponsorship-intro-compressed.jpg');
}

.webp .sponsorship-brochure {
	background-image: url('../images/layout/sponsorship-brochure-compressed.webp');
}

.no-webp .sponsorship-brochure {
	background-image: url('../images/layout/sponsorship-brochure-compressed.jpg');
}

.webp .sponsorship-contact {
	background-image: url('../images/layout/sponsorship-contact-compressed.webp');
}

.no-webp .sponsorship-contact {
	background-image: url('../images/layout/sponsorship-contact-compressed.jpg');
}

.webp .sponsorship-tickets {
	background-image: url('../images/layout/sponsorship-tickets-compressed.webp');
}

.no-webp .sponsorship-tickets {
	background-image: url('../images/layout/sponsorship-tickets-compressed.jpg');
}

.webp .attendee-tickets {
	background-image: url('../images/layout/attendee-tickets-compressed.webp');
}

.no-webp .attendee-tickets {
	background-image: url('../images/layout/attendee-tickets-compressed.jpg');
}

.webp .contact-a {
	background-image: url('../images/layout/contact-a-compressed.webp');
}

.no-webp .contact-a {
	background-image: url('../images/layout/contact-a-compressed.jpg');
}

.webp .contact-b {
	background-image: url('../images/layout/contact-b-compressed.webp');
}

.no-webp .contact-b {
	background-image: url('../images/layout/contact-b-compressed.jpg');
}

.webp .contact-c {
	background-image: url('../images/layout/contact-c-compressed.webp');
}

.no-webp .contact-c {
	background-image: url('../images/layout/contact-c-compressed.jpg');
}

.webp .contact-d {
	background-image: url('../images/layout/contact-d-compressed.webp');
}

.no-webp .contact-d {
	background-image: url('../images/layout/contact-d-compressed.jpg');
}


.webp .contact-e {
    background-image: url('../images/layout/contact-e-compressed.webp');
}

.no-webp .contact-e {
    background-image: url('../images/layout/contact-e-compressed.jpg');
}

.collage {
	@apply w-full h-72 bg-cover bg-center
}

.webp .collage {
	background-image: url('../images/layout/footer-strip-compressed.webp');
}

.no-webp .collage {
	background-image: url('../images/layout/footer-strip-compressed.jpg');
}

/* used with the FAQ accordian */
.max-h-0 {
  max-height: 0;
}

.faq p, .sponsor p {
	@apply pb-3
}

.faq p:last-of-type, .sponsor p:last-of-type {
	@apply pb-0
}

.smallprint 
    h4 {
        @apply mt-10 mb-1 font-semibold uppercase
    }

    p {
        @apply mb-4
    }

.swiper-pagination-bullet {
	@apply w-4 h-4
}

@screen md {
    .swiper-pagination-bullet {
 		@apply w-2 h-2
 	}
}
 
