/* CSS HEX */
/*--onyx: #393d3fff;
--green-blue-crayola: #008dd2ff;
--usafa-blue: #0351a4ff;
--eminence: #5c2f7fff;
--red-pigment: #ea1d26ff;*/

.striped-gradient {  
    background-image: 
        url(../images/layout/diagonal-stripes.svg), 
        linear-gradient(270deg, #008dd2ff, #0351a4ff, #5c2f7fff, #ea1d26ff);
    @apply p-10
}

.divider {
    @apply striped-gradient p-0
}

.main-navigation:after {
    content: ' ';
    display: block;

    @apply absolute bottom-0 left-0  w-full h-2 pt-2 divider
}

.nav-item {
	@apply block px-3 py-3 font-bold uppercase tracking-tight transition duration-300 ease-in-out;
}

.nav-item:hover {
	@apply bg-red-pigment-500
}

@screen sm {
    .nav-items-container {
        @apply flex flex-wrap
    }

    .nav-items-container li {
        @apply w-1/2 
    }

    .nav-item {
        @apply py-1
    }
}

@screen md {
    .nav-items-container li {
        @apply w-full 
    }

    .nav-item {
        @apply py-3
    }
}

.btn-primary {
	@apply inline-block striped-gradient text-center px-2 py-2 rounded-lg uppercase font-bold text-usafa-blue-700 tracking-tighter	
}

.highlights {	
	background-color: rgba(0, 0, 0, 0.33);
  	background-blend-mode: soft-light;
}

.webp .hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../images/layout/hero-4-compressed.webp');
}

.no-webp .hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../images/layout/hero-4-compressed.jpg');
}

.webp .host {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/layout/home-hugh-dennis-compressed.webp');
}

.no-webp .host {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/layout/home-hugh-dennis-compressed.jpg');
}

.webp .host-bio {
	background-image: url('../images/layout/host-hugh-dennis.webp');
}

.no-webp .host-bio {
	background-image: url('../images/layout/host-hugh-dennis.jpg');
}

.stats h3::after {
	content: ' ';
	display: block;
	width: 30px;
	height: 5px;
	margin: 10px auto 15px auto;
	@apply bg-gray-800
}

div[class*="gallery-tile-"] {
	@apply bg-cover bg-center overflow-hidden
}

.webp .gallery-tile-a {
	background-image: url('../images/layout/home-gallery-tile-d-compressed.webp');
}

.no-webp .gallery-tile-a {
	background-image: url('../images/layout/home-gallery-tile-d-compressed.jpg');
}

.webp .gallery-tile-b {
	background-image: url('../images/layout/home-gallery-tile-e-compressed.webp');
}

.no-webp .gallery-tile-b {
	background-image: url('../images/layout/home-gallery-tile-e-compressed.jpg');
}

.webp .gallery-tile-c {
	background-image: url('../images/layout/home-gallery-tile-f-compressed.webp');
}

.no-webp .gallery-tile-c {
	background-image: url('../images/layout/home-gallery-tile-f-compressed.jpg');
}

.webp .highlights {
	background-image: url('../images/layout/highlights-background-3-compressed.webp');
}

.no-webp .highlights {
	background-image: url('../images/layout/highlights-background-3-compressed.jpg');
}

footer .watermark {
    background-image: url('../images/layout/wbm-watermark.svg');
}

.footer-link {
	@apply transition duration-300 ease-in-out tracking-tight py-2
}

.footer-link:hover {
	@apply text-red-pigment-500
}

.webp .header-a {
	background-image: url('../images/layout/title-header-a-compressed.webp');
}

.no-webp .header-a {
	background-image: url('../images/layout/title-header-a-compressed.jpg');
}

.webp .header-b {
	background-image: url('../images/layout/title-header-b-compressed.webp');
}

.no-webp .header-b {
	background-image: url('../images/layout/title-header-b-compressed.jpg');
}

.webp .header-c {
	background-image: url('../images/layout/hero-3-compressed.webp');
}

.no-webp .header-c {
	background-image: url('../images/layout/hero-3-compressed.jpg');
}

.webp .header-d {
	background-image: url('../images/layout/hero-4-compressed.webp');
}

.no-webp .header-d {
	background-image: url('../images/layout/hero-4-compressed.jpg');
}

.webp .header-e {
    background-image: url('../images/layout/hero-5-compressed.webp');
}

.no-webp .header-e {
    background-image: url('../images/layout/hero-5-compressed.jpg');
}

.webp .header-f {
    background-image: url('../images/layout/hero-6-compressed.webp');
}

.no-webp .header-f {
    background-image: url('../images/layout/hero-6-compressed.jpg');
}

.webp .sponsorship-a {
	background-image: url('../images/layout/sponsorship-a-compressed.webp');
}

.no-webp .sponsorship-a {
	background-image: url('../images/layout/sponsorship-a-compressed.jpg');
}

.webp .sponsorship-b {
	background-image: url('../images/layout/sponsorship-b-compressed.webp');
}

.no-webp .sponsorship-b {
	background-image: url('../images/layout/sponsorship-b-compressed.jpg');
}

.webp .sponsorship-intro {
    background-image: url('../images/layout/sponsorship-intro-compressed.webp');
}

.no-webp .sponsorship-intro {
    background-image: url('../images/layout/sponsorship-intro-compressed.jpg');
}

.webp .sponsorship-brochure {
	background-image: url('../images/layout/sponsorship-brochure-compressed.webp');
}

.no-webp .sponsorship-brochure {
	background-image: url('../images/layout/sponsorship-brochure-compressed.jpg');
}

.webp .sponsorship-contact {
	background-image: url('../images/layout/sponsorship-contact-compressed.webp');
}

.no-webp .sponsorship-contact {
	background-image: url('../images/layout/sponsorship-contact-compressed.jpg');
}

.webp .sponsorship-tickets {
	background-image: url('../images/layout/sponsorship-tickets-compressed.webp');
}

.no-webp .sponsorship-tickets {
	background-image: url('../images/layout/sponsorship-tickets-compressed.jpg');
}

.webp .attendee-tickets {
	background-image: url('../images/layout/attendee-tickets-compressed.webp');
}

.no-webp .attendee-tickets {
	background-image: url('../images/layout/attendee-tickets-compressed.jpg');
}

.webp .contact-a {
	background-image: url('../images/layout/contact-a-compressed.webp');
}

.no-webp .contact-a {
	background-image: url('../images/layout/contact-a-compressed.jpg');
}

.webp .contact-b {
	background-image: url('../images/layout/contact-b-compressed.webp');
}

.no-webp .contact-b {
	background-image: url('../images/layout/contact-b-compressed.jpg');
}

.webp .contact-c {
	background-image: url('../images/layout/contact-c-compressed.webp');
}

.no-webp .contact-c {
	background-image: url('../images/layout/contact-c-compressed.jpg');
}

.webp .contact-d {
	background-image: url('../images/layout/contact-d-compressed.webp');
}

.no-webp .contact-d {
	background-image: url('../images/layout/contact-d-compressed.jpg');
}


.webp .contact-e {
    background-image: url('../images/layout/contact-e-compressed.webp');
}

.no-webp .contact-e {
    background-image: url('../images/layout/contact-e-compressed.jpg');
}

.collage {
	@apply w-full h-72 bg-cover bg-center
}

.webp .collage {
	background-image: url('../images/layout/footer-strip-compressed.webp');
}

.no-webp .collage {
	background-image: url('../images/layout/footer-strip-compressed.jpg');
}

/* used with the FAQ accordian */
.max-h-0 {
  max-height: 0;
}

.faq p, .sponsor p {
	@apply pb-3
}

.faq p:last-of-type, .sponsor p:last-of-type {
	@apply pb-0
}

.smallprint 
    h4 {
        @apply mt-10 mb-1 font-semibold uppercase
    }

    p {
        @apply mb-4
    }

/* Splide Slider Theme : Sea Green - adapted for FSM Awards colour pallette */

/*! purgecss start ignore */
@keyframes splide-loading {
    0% {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}
.splide__container {
    position: relative;
    box-sizing: border-box;
}
.splide__list {
    margin: 0 !important;
    padding: 0 !important;
    width: -webkit-max-content;
    width: max-content;
    will-change: transform;
}
.splide.is-active .splide__list {
    display: flex;
}
.splide__pagination {
    display: inline-flex;
    align-items: center;
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}
.splide__pagination li {
    list-style-type: none;
    display: inline-block;
    line-height: 1;
    margin: 0;
}
.splide {
    visibility: hidden;
}
.splide,
.splide__slide {
    position: relative;
    outline: none;
}
.splide__slide {
    box-sizing: border-box;
    list-style-type: none !important;
    margin: 0;
    flex-shrink: 0;
}
.splide__slide img {
    vertical-align: bottom;
}
.splide__slider {
    position: relative;
}
.splide__spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #999;
    animation: splide-loading 1s linear infinite;
}
.splide__track {
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.splide--draggable > .splide__track > .splide__list > .splide__slide {
    -webkit-user-select: none;
    user-select: none;
}
.splide--fade > .splide__track > .splide__list {
    display: block;
}
.splide--fade > .splide__track > .splide__list > .splide__slide {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
}
.splide--fade > .splide__track > .splide__list > .splide__slide.is-active {
    position: relative;
    z-index: 1;
    opacity: 1;
}
.splide--rtl {
    direction: rtl;
}
.splide--ttb > .splide__track > .splide__list {
    display: block;
}
.splide--ttb > .splide__pagination {
    width: auto;
}

.splide__pagination {
    position: absolute;
    z-index: 1;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
}
.splide__pagination__page {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #ccc;
    border-radius: 12px;
    margin: 5px;
    padding: 0;
    transition: all 0.2s linear;
    border: none;
}
.splide__pagination__page.is-active {
    /*background: #20b2aa;*/
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    @apply bg-red-pigment-500
}
.splide__pagination__page:hover {
    /*cursor: pointer;
    background: #57e1d9;*/
 	@apply bg-red-pigment-500 cursor-pointer   
}
.splide__pagination__page:focus {
    outline: none;
}
.splide__progress__bar {
    width: 0;
    height: 3px;
    background: #20b2aa;
}
.splide {
    padding: 3em;
}
.splide__slide {
    border-radius: 4px;
}
.splide__spinner {
    border: 2px solid #20b2aa;
    border-left-color: transparent;
}
.splide--nav > .splide__track > .splide__list > .splide__slide {
    border: 3px solid #fff;
    cursor: pointer;
    opacity: 0.7;
    border-radius: 4px;
}
.splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
    border-color: #20b2aa;
    opacity: 1;
}
.splide--nav > .splide__track > .splide__list > .splide__slide:focus {
    outline: none;
}

.splide--rtl > .splide__arrows .splide__arrow--prev,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev {
    right: 1em;
    left: auto;
}
.splide--rtl > .splide__arrows .splide__arrow--prev svg,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev svg {
    transform: scaleX(1);
}
.splide--rtl > .splide__arrows .splide__arrow--next,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--next {
    left: 1em;
    right: auto;
}
.splide--rtl > .splide__arrows .splide__arrow--next svg,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--next svg {
    transform: scaleX(-1);
}
.splide--ttb > .splide__arrows .splide__arrow,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow {
    left: 50%;
    transform: translate(-50%);
}
.splide--ttb > .splide__arrows .splide__arrow--prev,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev {
    top: 1em;
}
.splide--ttb > .splide__arrows .splide__arrow--prev svg,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev svg {
    transform: rotate(-90deg);
}
.splide--ttb > .splide__arrows .splide__arrow--next,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--next {
    top: auto;
    bottom: 1em;
}
.splide--ttb > .splide__arrows .splide__arrow--next svg,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--next svg {
    transform: rotate(90deg);
}
.splide--ttb > .splide__pagination {
    display: flex;
    flex-direction: column;
    bottom: 50%;
    left: auto;
    right: 1em;
    transform: translateY(50%);
}
.splide--ttb > .splide__pagination .splide__pagination__page {
    width: 5px;
    height: 20px;
}
/*! purgecss end ignore */