.nav-item {
	@apply block px-6 py-3 font-bold uppercase tracking-tight transition duration-300 ease-in-out;
}

.nav-item:hover {
	@apply bg-yellow-500
}

.btn-primary {
	@apply inline-block text-center bg-yellow-500 px-4 py-3 rounded-lg uppercase font-bold text-white tracking-tighter	
}

.hero, .highlights-video {	
	background-color: rgba(0, 0, 0, 0.50);
  	background-blend-mode: soft-light;
}

.webp .hero {
	background-image: url('../video/she-awards-background-poster-compressed.webp');
}

.no-webp .hero {
	background-image: url('../video/she-awards-background-poster-compressed.jpg');
}

.webp .host {
	background-image: url('../images/layout/home-alistair-mcgowan-compressed.webp');
}

.no-webp .host {
	background-image: url('../images/layout/home-alistair-mcgowan-compressed.jpg');
}

.stats h3::after {
	content: ' ';
	display: block;
	width: 30px;
	height: 5px;
	margin: 10px auto 15px auto;
	background-color: #ffffff;
}

div[class*="gallery-tile-"] {
	@apply bg-cover bg-center overflow-hidden
}

.webp .gallery-tile-a {
	background-image: url('../images/layout/home-gallery-tile-a-compressed.webp');
}

.no-webp .gallery-tile-a {
	background-image: url('../images/layout/home-gallery-tile-a-compressed.jpg');
}

.webp .gallery-tile-b {
	background-image: url('../images/layout/home-gallery-tile-b-compressed.webp');
}

.no-webp .gallery-tile-b {
	background-image: url('../images/layout/home-gallery-tile-a-compressed.jpg');
}

.webp .gallery-tile-c {
	background-image: url('../images/layout/home-gallery-tile-c-compressed.webp');
}

.no-webp .gallery-tile-c {
	background-image: url('../images/layout/home-gallery-tile-a-compressed.jpg');
}

.webp .highlights-video {
	background-image: url('../images/layout/banquet-compressed.webp');
}

.no-webp .highlights-video {
	background-image: url('../images/layout/banquet-compressed.jpg');
}

.footer-link {
	@apply transition duration-300 ease-in-out tracking-tight
}

.footer-link:hover {
	@apply text-yellow-500
}

.webp .header {
	background-image: url('../video/she-awards-background-poster-compressed.webp');
}

.no-webp .header {
	background-image: url('../video/she-awards-background-poster-compressed.jpg');
}