/* Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";

/* Splide Carousel/Slider - Core CSS (theme styling in 'custom' css file */
@import "../../../node_modules/@splidejs/splide/dist/css/splide.min";

/* FSM Awards custom styling */
@import "custom";

/* DEBUGGING - REMOVE FOR STAGING/PRODUCTION */
/*@import "debugging";*/

/* Tailwind */
@import "tailwindcss/utilities";